@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body{
  background: #000;
  color: #fff;
}

.transition-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  pointer-events: none; 
  z-index: 2;
}

.transition-el{
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: oklch(82.8% 0.189 84.429);
  transform: rotate(0);
  transform-origin: top right;
}

.logo-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: oklch(82.8% 0.189 84.429);
  pointer-events: none; 
  opacity: 0;
}

.logo-container{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
